.idea/
cmake-build-debug/
implementation/dll/Dll1/.vs/
.DS_Store
Implementation/Rosenblatt/.ipynb_checkpoints/
Implementation/Rosenblatt/__pycache__/
Implementation/MLP/__pycache__/
*.pyc
Implementation/MLP/.ipynb_checkpoints/

